.chefBg{
    background-image: url(../../assets/carosal1.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

@media (max-width: 576px) { 
    .chefBg{
        display: grid;
        grid-template-columns: auto;

    }
 }